# Python
venv/
__pycache__/
*.pyc

# C++ extension build artifacts
orderbook_replay_cpp/build/
orderbook_replay_cpp/*.egg-info/
*.pyd
*.so

# Data (VERY IMPORTANT)
data/

# OS junk
.DS_Store
Thumbs.db

# Optional (if you truly don't want them in repo)
inspect.py
tests.py
data_grabber.py

github_notes.txt

forex_factory_scraper/data_usd/

# PyQt app user settings
settings.json

