# Python
venv/
__pycache__/
*.pyc

# Rust extension build artifacts
heatmap_rs/target/
*.pyd
*.so

# Data (VERY IMPORTANT)
data/

# OS junk
.DS_Store
Thumbs.db

# Optional (if you truly don't want them in repo)
inspect.py
tests.py

github_notes.txt

ff_data_scraper/data_usd/

